---
import { getEntry } from "astro:content";
import Site from "@/layouts/Site.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import { TableOfContents as TOCIcon, X as XIcon } from "lucide-svelte";
import { tw } from "@/tw";
import { fade } from "astro:transitions";

import TOCTracker from "@/components/document/TOCTracker.svelte";
import getTOC, { flattenTOC, type TOCEntry } from "@/TOC";
import FeedbackWidget from "@/components/document/FeedbackWidget.astro";
import { getApp } from "@/pages/[appName]/_getApp";
import Breadcrumb from "@/components/home/Breadcrumb.svelte";

const { appName, article } = Astro.params;

const appShort = await getApp(appName!).then((a) => a.short);
const entry = await getEntry("docs", `${appShort}/${article}`.toLowerCase());

if (!entry || entry.data.draft) {
  return new Response(null, { status: 404 });
}

const { Content, headings: _headings, remarkPluginFrontmatter } = await entry.render();
const headings = _headings.filter((h) => h.depth !== 6);
const docStyle = tw`
  prose
  row-span-4

  prose-code:[overflow-wrap:anywhere]
  prose-neutral

  prose-a:text-blue-600 hover:prose-a:text-blue-500
  
  prose-table:border-[1.5px] 
  prose-table:bg-gray-100 
  prose-table:border-[#3a3a3a]
  prose-table:rounded-lg
  
  prose-img:border
  prose-img:cursor-zoom-in
  prose-img:rounded-lg
  prose-img:border-gray-300
  prose-img:bg-gray-100
  prose-img:max-w-96
  prose-img:max-h-40
  prose-img:inline-block 
  prose-img:m-0 
  prose-img:my-3
  prose-img:mr-1
  prose-img:transition-all
  prose-img:duration-500

  [&_img.active]:max-w-full
  [&_img.active]:max-h-full
  [&_img.active]:cursor-zoom-out
  
  [&_ul>li>ul]:list-[circle]
  [&_ul>li>ul>li>ul]:list-[square]
  [&_ol>li>ol]:list-[lower-alpha]
  [&_ol>li>ol>li>ol]:list-[lower-roman]
  [&_li_>_p]:my-0.5
  
  prose-th:min-w-auto 
  prose-table:overflow-x-scroll
  [&_sup_>_a]:text-blue-500
  prose-table:w-auto
  prose-td:border-[1.5px]
  prose-td:border-aptean-dark
  prose-td:border-l-0
  [&_th:last-of-type]:border-r-0
  [&_td:last-of-type]:border-r-0
  prose-td:border-b-0
  prose-th:font-normal 
  prose-th:text-[1.1em]
  prose-th:tracking-normal
  prose-th:text-white
  prose-table:border-spacing-0
  prose-table:border-separate
  prose-table:text-sm
  prose-table:md:text-base
  prose-th:border-[1.5px]
  prose-th:border-aptean-dark
  prose-thead:bg-aptean-dark
  prose-th:border-r-white
  prose-td:p-2 
  prose-th:p-2
  
  prose-headings:font-medium 
  prose-h1:mt-0
  prose-headings:my-5
  
  text-black
  text-sm
  md:text-base
  leading-relaxed
  p-6 pl-8 
  max-w-none
  
  prose-headings:pt-4
  prose-h1:pt-0

  [&:after]:p-4
  [&:after]:[content:'']
`;

let activeEntry = "";
const ymlTOC = await getTOC(appShort);
const remappedTOC = ymlTOC
  .map(function setActive(entry): TOCEntry {
    let active = false;
    if (entry.href) active = Astro.url.pathname.toLowerCase().includes(entry.href.toLowerCase());

    if (active) activeEntry = entry.href!;

    entry.items = entry.items || [];
    entry.items = entry.items.map(setActive);

    return { ...entry, items: entry.items, active };
  })
  .reduce(flattenTOC, []);

const currPage = remappedTOC.findIndex((e) => e.href === activeEntry);

const prevPage = remappedTOC.findLast((e, i) => i < currPage && e.href)?.href || "";
const prevPageTitle = remappedTOC.findLast((e, i) => i < currPage && e.href)?.name || "";

const nextPage = remappedTOC.find((e, i) => i > currPage && e.href)?.href || "";
const nextPageTitle = remappedTOC.find((e, i) => i > currPage && e.href)?.name || "";
---

<style is:global lang="scss">
  blockquote.callout {
    quotes: none;
    @apply font-normal not-italic border rounded-lg p-0 my-6 w-[calc(100%-6rem)];

    & > * {
      @apply mx-4;
    }
    & > *:nth-child(2) {
      @apply mt-2 !important;
    }
    & > *:last-child {
      @apply mb-2;
    }

    br:first-child {
      display: none;
    }

    h6 {
      @apply flex items-center gap-2 px-3 py-1.5 pb-2.5 !m-0 !mb-2 rounded-t-lg font-semibold;
    }
  }

  blockquote.note {
    border: 1px solid theme("colors.gray.500");

    h6 {
      color: white;
      background: linear-gradient(to right, theme("colors.gray.500"), theme("colors.gray.600"));
      border-bottom: theme("colors.gray.500");
    }
    h6::before {
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtYWxlcnQiPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PGxpbmUgeDE9IjEyIiB4Mj0iMTIiIHkxPSI4IiB5Mj0iMTIiLz48bGluZSB4MT0iMTIiIHgyPSIxMi4wMSIgeTE9IjE2IiB5Mj0iMTYiLz48L3N2Zz4=);
      height: 1.2rem;
      max-height: 100%;
    }
    h6::after {
      content: "Note";
    }
  }

  blockquote.important {
    border: 1px solid theme("colors.gray.700");

    h6 {
      color: white;
      background: theme("colors.gray.700");
      border-bottom: theme("colors.gray.700");
    }
    h6::before {
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10cmlhbmdsZS1hbGVydCI+PHBhdGggZD0ibTIxLjczIDE4LTgtMTRhMiAyIDAgMCAwLTMuNDggMGwtOCAxNEEyIDIgMCAwIDAgNCAyMWgxNmEyIDIgMCAwIDAgMS43My0zIi8+PHBhdGggZD0iTTEyIDl2NCIvPjxwYXRoIGQ9Ik0xMiAxN2guMDEiLz48L3N2Zz4=);
      height: 20px;
    }
    h6::after {
      content: "Important";
    }
  }

  .in-this-article {
    @apply m-4 mt-8 text-neutral-600;
  }
</style>

<Site
  title={`${appShort} - ${entry.data.title}`}
  class="grid grid-rows-1 grid-cols-[auto_1fr_auto] overflow-y-auto overflow-x-hidden relative"
>
  <TOCTracker client:only="svelte" headings={headings.map((h) => h.slug)} />
  <aside
    id="toc-sidebar"
    class="sticky block w-0 transition-all duration-700 ease-in-out [&.expanded]:w-[100vw] [&.expanded]:md:w-80 top-0 md:w-80 border-r-2 overflow-auto row-span-full"
  >
    <button id="toc-close" class="px-2 py-1.5 mt-1 flex items-center gap-2 mx-auto text-neutral-400 md:hidden">
      <XIcon class="inline-block w-6 h-6" /> Close Table of Contents
    </button>
    <TableOfContents transition:persist appName={appName!} />
  </aside>
  <article transition:animate={fade({ duration: "0.4s" })}>
    <Breadcrumb client:only="svelte" appName={appName} />
    <div>{appName}</div>
    <div class={docStyle}>
      <h1>{entry.data.title}</h1>
      <div class="text-neutral-500 flex items-center gap-2 -mt-3 -mb-2">
        <span class="-mt-1">
          {entry.data.type}
          &bullet;
          {
            entry.data.type === "Release Note"
              ? entry.data.releaseDate?.toLocaleDateString("en-US")
              : entry.data.date.toLocaleDateString("en-US")
          }
          &bullet;
          {remarkPluginFrontmatter.minutesRead}
        </span>
        <div class="border-[0.5px] border-neutral-500 grow h-0 my-auto"></div>
        <button
          id="toc-open"
          class="bg-aptean-dark rounded-md text-white border-white px-2 py-1.5 flex items-center gap-2 md:hidden"
        >
          <TOCIcon class="w-6 h-6" />
        </button>
        {
          prevPage && (
            <a
              href={import.meta.env.BASE_URL + prevPage}
              class={`bg-aptean-dark !text-white px-2 py-1.5 rounded-l-lg -mr-1.5 flex items-center gap-2 ${!nextPage ? "rounded-r-lg" : ""}`}
            >
              <svg class="inline-block w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M11 20L1 12L11 4V9C16.5228 9 21 13.4772 21 19C21 19.2727 20.9891 19.5428 20.9677 19.81C19.5055 17.0364 16.6381 15.119 13.313 15.0053L13 15H10.9999L11 20ZM8.99986 13H10.9999L13.0341 13.0003L13.3814 13.0065C14.6657 13.0504 15.9053 13.3165 17.0568 13.7734C15.5898 12.0749 13.4204 11 11 11H9V8.16125L4.20156 12L8.99992 15.8387L8.99986 13Z" />
              </svg>
            </a>
          )
        }
        {
          nextPage && (
            <a
              href={import.meta.env.BASE_URL + nextPage}
              class={`bg-aptean-dark !text-white px-2 py-1.5 rounded-r-lg flex items-center gap-2 ${!prevPage ? "rounded-l-lg" : ""}`}
            >
              <svg
                class="inline-block w-6 -scale-x-100"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path d="M11 20L1 12L11 4V9C16.5228 9 21 13.4772 21 19C21 19.2727 20.9891 19.5428 20.9677 19.81C19.5055 17.0364 16.6381 15.119 13.313 15.0053L13 15H10.9999L11 20ZM8.99986 13H10.9999L13.0341 13.0003L13.3814 13.0065C14.6657 13.0504 15.9053 13.3165 17.0568 13.7734C15.5898 12.0749 13.4204 11 11 11H9V8.16125L4.20156 12L8.99992 15.8387L8.99986 13Z" />
              </svg>
            </a>
          )
        }
      </div>
      {
        headings.length > 0 && (
          <aside class="in-this-article not-prose md:!hidden !my-6">
            <h2 class="text-base flex items-center p-3 py-2 bg-slate-200 text-aptean-dark border-b border-slate-400">
              <TOCIcon class="inline-block mr-2 w-6 h-6" /> In this article
            </h2>
            <ul class="p-3 px-4">
              {headings.map((heading) => (
                <li class="my-1 hover:text-black [&.active]:text-aptean-turquoise [&.active:before]:[content:'>_'] [&.active:before]:font-bold [&.active:before]:font-mono">
                  <a href={"#" + heading.slug} onclick="changeActive(this.href.split('#')[1])">
                    {heading.text}
                  </a>
                </li>
              ))}
            </ul>
          </aside>
        )
      }
      <Content />
      <!-- TODO: Add next page and previous page blocks -->
      <!-- <div class="grid grid-cols-2 grid-rows-1 gap-2">
        {prevPage && <a href={import.meta.env.BASE_URL + prevPage} class={`border hover:!text-blue-500 border-aptean-dark border-opacity-50 bg-neutral-50 not-prose px-4 py-2.5 text-lg rounded-lg grid grid-cols-[auto_1fr] grid-rows-[auto_1fr]`} >
          <ArrowLeft class="w-6 h-6 row-span-full mr-2 self-center" />
          <span class="text-base text-neutral-600 row-start-1">
            Previous Page
          </span>
          <span class="row-start-2 text-left">
            {prevPageTitle}
          </span>
        </a>}
        {nextPage && <a href={import.meta.env.BASE_URL + nextPage} class={`border hover:!text-blue-500 border-aptean-dark border-opacity-50 bg-neutral-50 not-prose px-4 py-2.5 text-lg rounded-lg grid grid-cols-[1fr_auto] grid-rows-[auto_1fr] justify-items-end`}>
          <span class="text-base text-neutral-600 row-start-1">
            Next Page
          </span>
          <span class="row-start-2 text-right">
            {nextPageTitle}
          </span>
          <ArrowRight class="w-6 h-6 row-span-full ml-2 self-center" />
        </a>}
      </div> -->
    </div>
  </article>
  <div class="sticky top-0 p-2 pt-7 overflow-hidden hidden md:grid md:w-96 grid-rows-[1fr_auto] gap-2">
    {
      headings.length > 0 && (
        <aside class="in-this-article !m-0 overflow-hidden grid grid-rows-[auto_1fr] grid-cols-1">
          <h2 class="text-lg tracking-wider flex items-center p-3 py-2 bg-slate-100 text-aptean-dark border-b border-slate-400">
            {/*<TOCIcon class="inline-block mr-2" />*/} In this article
          </h2>
          <div class="overflow-y-auto overflow-x-hidden pl-3">
            <ul class="p-3 px-4 border-l-[1.5px] border-slate-400 relative">
              {headings.map((heading) => (
                <li
                  style={`margin-left: ${heading.depth - 2}rem`}
                  class="my-1 hover:text-black [&.active]:text-aptean-turquoise [&.active:before]:[content:'>_'] [&.active:before]:font-bold [&.active:before]:font-mono"
                >
                  <a href={"#" + heading.slug} onclick="changeActive(this.href.split('#')[1])">
                    {heading.text}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </aside>
      )
    }
    <FeedbackWidget slug={entry.slug} />
  </div>
</Site>

<script src="./_bootstrap.ts"></script>
